
body{
    background-color: #F6F6F6;

}

div{
    color: #023246;
}


h1{
     font-family: 'Lilita One';
    font-size: 45px;
}

.search-container {
    height: 45px;
    width: 600px;
    display: flex;
    align-items: center;
    background-color: #D4D4CE;
    border-radius: 40px;
    padding: 5px;
  }
  
  .search-container-search {
    height: 35px;
    width: 600px;
    display: flex;
    align-items: center;
    background-color: #D4D4CE;
    border-radius: 10px;
    padding: 5px;
    margin-right: 10px;
    outline: none;
  }
  

  .btn {
    background-color: #D4D4CE;
    color: black;
    height: 35px;
    border-radius: 10px;
  }
  

  .search-icon {
    color: black;
    font-size: 20px;
    margin-right: 15px; 
    margin-left: 10px
  }
  
  .search-input {
    flex: 1;
    border: none;
    background: none;
    color: black;
    outline: none;
    font-family: 'Solway';
  }

  .search-button {
    background-color:  #287094;
    color: #fff;
    border: none;
    padding: 5px 15px; 
    border-radius: 25px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #023246 ;
}

h2 {
  text-align: center;
  margin-top: 15%;
  font-weight: bold;
  font-size: 40px;
  font-family: system-ui;
  color: #023246;
  margin-bottom: 60px;
}

.data-container {
   font-size: 25px;
      font-family: system-ui;
      display: flex;
      justify-content: space-around;
      margin-bottom: 20%;
      padding: 10px; 
      border-radius: 8px; 
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.data-container div {
  text-align: center; 
  margin: 0 20px;
}

@media (max-width: 991px) {
  .navbar {
    height: auto;
  }

  .navbar-brand img {
    width: 150px; /* Sesuaikan dengan lebar yang diinginkan */
  }

  .search-container {
    width: 100%;
    margin-top: 10px;
  }

  .search-container-search {
    width: 100%;
  }

  .search-button {
    width: 100%;
  }

  .search-icon {
    margin-left: 5px;
  }
}



  .navbar{
    background-color: #287094;
    height: 90px;
  }
  
  .site-footer
{
  background-color:#287094;
  padding:35px 0 20px;
  width: 100%;
  font-size:15px;
  line-height:24px;
}

.info
{
  color: white;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.copyright-text{
  margin-left: 45%;

}

@media (max-width:991px){
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

@media (max-width:767px){
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text
  {
    text-align:center
  }
    h2 {
      font-size: 30px;
    }
  
    .data-container {
      flex-direction: column;
      align-items: center;
    }
  
    .data-container div {
      margin: 10px 0;
    }
  
    .custom-card {
      margin-left: 0;
    }
  
    .large-card {
      margin-left: 0;
    }
  
    .search-result {
      padding: 20px;
    }
  
    .search-title {
      padding: 10px;
      font-size: 30px;
    }
}

.search-result {
    text-align: left; 
    padding: 20px 20px 20px 50px; 
    margin: 0;
}

.search-title {
  font-family: 'Inter';
  text-align: left;
  padding: 10px 50px;
  font-size: 40px;
  color: #023246;
  margin-top: -20px;
}

hr{
  margin-right: 50px;
}

.col{
  padding: 10px;
}
.custom-card {
  max-width: 300px;
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #D4D4CE;
      padding: 20px;
      margin-left: 30px;
}    

.custom-column .col {
  margin-right: -30px; 
}

.large-card {
  margin-top: 20px;
  max-width: 300px; 
  padding: 20px;
  margin-left: -200px;
}


.card-body img {
  max-width: 65%;
  height: auto;
}

.custom-column {
  margin: -10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.vl {
  border-left: 1px solid black;
  height: 570px;
  margin-left: 40%;
  margin-top: -105%;
}

.content {
  margin-left: 20px;
}

.country {
  text-align: center;
  margin-bottom: 80px;
  
}

.country img {
  max-width: 45%;
  height: auto;
}

.content-name {
  margin-top: 10px;
}

.card-container-fluid {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
}

.card {
  width: 18rem;
  margin-bottom: 30px; 
  color: #D4D4CE;
}

#mapContainer {
  height: 50%;
  width: 100%;
}

#googleMap {
  width: 75%;
  height: 75%;
}

#leafletMap {
  height: 100%;
}




  